<div class="row mb-4 mt-4">
    <h2>
        <i class="fa fa-smile-beam"></i> Echipa Ajusto</h2>
</div>

<div class="row">
    <div class="container">

        <iframe width="100%" height="700" frameborder="0" scrolling="no" src="https://engie-my.sharepoint.com/personal/ks4243_engie_com/_layouts/15/Doc.aspx?sourcedoc={a800b327-146e-4f76-9a1c-8b4706b03029}&action=embedview&AllowTyping=True&ActiveCell='Drumul%20nostru'!Q26&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>

    </div>
</div>
<div class="row mb-4 mt-4">
    <h2>
        <i class="fa fa-smile-beam"></i> LP-uri</h2>
</div>

<div class="row">
    <div class="container">

        <iframe width="100%" height="700" frameborder="0" scrolling="no" src="https://engie-my.sharepoint.com/personal/ks4243_engie_com/_layouts/15/Doc.aspx?sourcedoc={dfb43058-f1df-4692-9e31-79f701e42f4a}&action=embedview&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>

    </div>
</div>